FABRICSRE_ND_URL=https://10.80.15.232
FABRICSRE_ND_USER=admin
FABRICSRE_ND_PASSWORD=change-me
FABRICSRE_NX_USER=admin
FABRICSRE_NX_PASSWORD=change-me
FABRICSRE_DB_URL=postgresql://fabricsre:change-me@127.0.0.1/fabricsre
FABRICSRE_FABRICS=DC1,DC2,ISN,MULTISITE
FABRICSRE_FABRIC_GROUP=MULTISITE
FABRICSRE_TOPOLOGY=/home/user/fabricsre/multisite.clab.yml
FABRICSRE_SYSLOG_FILE=/var/log/nd-remote.log
FABRICSRE_CONTAINER_HOST=root@10.80.15.10
